.guess-whoami-player {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    background-color: #304758;
    margin: 3rem auto;
    text-align: left;
    max-height: 600px;
    overflow: auto;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.hint p {
    font-size: 1.5rem;
}

.hint.button.disabled {
    pointer-events: none; /* Disable clicks */
    opacity: 0.8;         /* Dim the appearance */
    cursor: not-allowed;  /* Show a disabled cursor */
}


@media screen and (max-width: 768px) {
    .guess-whoami-player {
        font-size: 1rem;
        padding: 1.5rem;
        width: 80%;
    }

    .guess-whoami-player h2 {
        font-size: 1.4rem;
    }

    .hint {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .guess-whoami-player {
        font-size: 1rem;
        padding: 1rem;
        width: 90%;
        max-height: 400px;
    }

    .hint {
        font-size: 0.8rem;
    }

    .hint p {
        font-size: 1rem;
    }
}
