.past-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.past-teams img {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    width: 10%;
}

.player h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.hint.button.disabled {
    pointer-events: none; /* Disable clicks */
    opacity: 0.5;         /* Dim the appearance */
    cursor: not-allowed;  /* Show a disabled cursor */
}


@media screen and (max-width: 768px) {
    .past-teams img {
        width: 16%;
    }
    
}