.player-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.player-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.average-stats {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Points on left, others on right */
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    width: 80%;
    color: white;
    font-family: Arial, sans-serif;
}

.average-stats-title {
    display: none;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.points .stat-value {
    font-size: 48px;
}

.points .stat-title {
    font-size: 24px;
}

.other-stats {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2x2 grid for other stats */
    gap: 10px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.stat-title {
    font-size: 14px;
    color: #D3D3D3; /* Light gray for titles */
}

.stat-value {
    font-size: 24px;
}

.player-stats-advanced-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.player-stats-advanced {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.stats table {
    width: 100%;
    border-collapse: collapse;
}

.stats th, .stats td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stats th {
    background-color: #4CAF50;
    color: white;
}

.stats tr:nth-child(even) {
    background-color: #f2f2f2;
}

.stats tr:hover {
    background-color: #ddd;
}

.stats td {
    color: #555;
}

.stats td:first-child {
    font-weight: bold;
}

.stats .player-stats {
    transition: background-color 0.3s ease;
}

.stats .player-stats:hover {
    background-color: #e9ecef;
}

.player-stats-graph {
    margin: 2rem 0;
}

.graph-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.graph-selector label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.graph-selector select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 1rem;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.graph-selector select:focus {
    outline: none;
    background-color: #e9ecef;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.graph-selector select:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 1500px) {
    .average-stats {
        width: 80%;
    }

    .average-stats-title {
        display: block;
    }

    .points .stat-value {
        font-size: 32px;
    }

    .player-stats-advanced-container {
        display: none;
    }

}