.player-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 0 1rem;
}

.player {
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.player img {
    width: 20%;
    border: 1px solid white;
    border-radius: 30px;
}

.player-info {
    font-size: 3rem;
    margin: 3rem auto;
}

.player-info a {
    text-decoration: none;
    color: white;
}

.player-info-team {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.player-info-team a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.player-info-team a:hover {
    text-decoration: underline;
    background-color: #304758;
}

.player-info-team img {
    border: none;
}

.player-bio {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    background-color: #304758;
    margin: 3rem auto;
    text-align: left;
}
