.guessed-player-cards-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.guessed-player-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #496880;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 1500px;
    height: 200px;
}

.guessed-player-cards label {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.guessed-player-cards img {
    width: 20%;
}

.guessed-player-cards p {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
}

.player-guess-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #496880;
    height: 60%;
    width: 20%;
    border-radius: 1rem;
    margin: 0 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

.info-1 {
    animation-delay: 0.3s;
}

.info-2 {
    animation-delay: 0.6s;
}

.info-3 {
    animation-delay: 0.9s;
}

.info-4 {
    animation-delay: 1.2s;
}

.info-5 {
    animation-delay: 1.5s;
}

.info-6 {
    animation-delay: 1.8s;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.incorrect {
    background-color: red;
}

.correct-team {
    background-color: green;
}

.correct-position {
    background-color: green;
}

.correct-height {
    background-color: green;
}

.correct-conference {
    background-color: green;
}

.correct-number {
    background-color: green;
}

.correct-guess {
    background-color: green;
}

.partial-position {
    background-color: rgb(199, 199, 47);
}

.material-symbols-outlined {
  font-size: 1.4rem;
}
