.team-list-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 0 1rem;
}

.team-list-container h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    min-height: 300px;
}

.team-card img {
    width: 70%;
}

.team-card p {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #496880;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    height: 300px;
    text-decoration: none;
}

.team-card:hover {
    background-color: #304758;
}

.team-list-dropdowns {
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
    width: 40%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

.team-list-dropdowns div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.team-list-dropdowns label {
    margin-right: 1rem;
    flex-wrap: nowrap;
}

.team-list-dropdowns select {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
    width: 100%;
}

@media (max-height: 1200px) {

    .team-list-dropdowns label {
        max-width: 100px;
    }

    .team-list {
        padding: 0.5rem;
    }
    
    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        width: 80%;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1.2rem;
        padding: 0.75rem;
        max-width: 1200px;
    }
}

/* Responsive styles for mobile screens */
@media (max-width: 1600px) {

    .team-list {
        padding: 0.5rem;
    }

    
    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        width: 80%;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1.2rem;
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .team-list-container h1 {
        font-size: 2.5rem;
    }

    .team-card {
        width: 150px;
        height: 150px;
        padding: 0.5rem;
    }

    .team-card p {
        font-size: 1rem;
    }

    .team-list-dropdowns {
        width: 90%;
        padding: 1rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1rem;
        padding: 0.5rem;
    }
}