.team-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem auto 0 auto; /* center container */
    max-width: 1300px; /* set a max width */
    width: 100%;
    flex: 1;
}

.team-list-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.team-list-container h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    min-height: 300px;
    height: 100%;
    flex: 1;
}

.team-list-dropdowns {
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box; /* include padding in width */
}

.team-card img {
    width: 70%;
}

.team-card p {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #496880;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    height: 300px;
    text-decoration: none;
}

.team-card:hover {
    background-color: #304758;
}

.team-list-dropdowns div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.team-list-dropdowns label {
    flex-wrap: nowrap;
}

.team-list-dropdowns select {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
}

.team-dropdown-name label {
    width: 100px;
}

.dropdown-conference label {
    width: 100px;
}

@media (max-width: 1600px) {

    .team-list-dropdowns {
        gap: 0;
        width: 100%;
    }

    .team-list-dropdowns select {
        width: 100%;
    }

    .team-dropdown-name label {
        width: 90px;
        margin-right: 0.5rem;
    }
    
    .dropdown-conference label {
        width: 90px;
        margin-right: 0.5rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select {
        font-size: 1.2rem;
        padding: 0.75rem;
    }
}

@media (max-height: 1200px) {

    .team-list-container h1 {
        font-size: 3rem;
    }
    
    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        font-size: 1rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select {
        font-size: 1rem;
        padding: 0.75rem;
    }
}

@media (max-width: 1400px) {

    .team-list-container {
        max-width: 900px; /* set a max width */
    }

    .team-list {
        gap: 1rem;
    }

    .team-card {
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-dropdown-name label {
        width: 80px;
        margin-right: 1rem;
    }

    .dropdown-conference label {
        width: 80px;
        margin-right: 1rem;
    }
}

@media (max-width: 1000px) {

    .team-list-container {
        max-width: fit-content; /* set a max width */
        padding: 2rem;
    }

    .team-list-container h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 850px) {

    .team-card {
        width: 165px;
        height: 165px;
        padding: 0.75rem;
    }
}

@media (max-width: 680px) {
    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-card {
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
    }

    .team-card img {
        width: 50%;
    }

    .team-card p {
        font-size: 1rem;
    }

    .team-list-dropdowns {
        padding: 1rem;
        font-size: 1rem;
    }

    .team-list-dropdowns select {
        font-size: 1rem;
        padding: 0.5rem;
    }
}