.team-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem auto 0 auto; /* center container */
    max-width: 1300px; /* set a max width */
    width: 100%;
}

.team-list-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.team-list-container h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem; /* spacing between cards */
    padding: 0; /* remove padding so it aligns with dropdowns */
    margin-top: 2rem; /* optional spacing */
    min-height: 300px;
}

.team-list-dropdowns {
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%; /* already same as container */
    box-sizing: border-box; /* include padding in width */
    padding: 2rem;
}

.team-card img {
    width: 70%;
}

.team-card p {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #496880;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    height: 300px;
    text-decoration: none;
}

.team-card:hover {
    background-color: #304758;
}

.team-list-dropdowns div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.team-list-dropdowns label {
    flex-wrap: nowrap;
    width: 100%;
}

.team-list-dropdowns select {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 1rem;
    background-color: #496880;
    color: white;
    width: 100%;
}

@media (max-width: 1600px) {

    .team-dropdown-name label {
        width: 20%;
        margin-right: 1rem;
    }
    
    .dropdown-conference label {
        width: 20%;
        margin-right: 1rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        padding: 1.5rem;
        font-size: 1.2rem;
    }

}

@media (max-height: 1200px) {

    .team-list-dropdowns label {
        max-width: 100px;
    }

    /* .team-list {
        padding: 0.5rem;
    } */
    
    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1.2rem;
        padding: 0.75rem;
        max-width: 1200px;
    }
}

@media (max-width: 1300px) {

    .team-list-container {
        max-width: 900px; /* set a max width */
    }

    .team-list {
        gap: 1rem;
    }

    .team-card {
        width: 200px;
        height: 200px;
        padding: 0.75rem;
    }

    .team-card p {
        font-size: 1.2rem;
    }

    .team-list-container h1 {
        font-size: 3rem;
    }

    .team-list-dropdowns {
        flex-direction: column;
        font-size: 1rem;
        padding: 1.5rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1rem;
        padding: 0.75rem;
    }
}


@media (max-width: 1000px) {

    .team-list-container {
        max-width: fit-content; /* set a max width */
        padding: 2rem;
    }

    .team-list-container h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .team-list-container h1 {
        font-size: 2.5rem;
    }

    .team-card {
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
    }

    .team-card img {
        width: 50%;
    }

    .team-card p {
        font-size: 1rem;
    }

    .team-list-dropdowns {
        padding: 1rem;
    }

    .team-list-dropdowns select,
    .team-list-dropdowns input {
        font-size: 1rem;
        padding: 0.5rem;
        width: 220px;
    }

    .team-list-container {
        max-width:min-content; /* set a max width */

    }
}