{% extends "index.html" %}

{% block content %}

    <h2>Players</h2>
    <table>
        <tr>
            <th>Player Name</th>
            <th>Team</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
        {% for player in players %}
            <tr>
                <td><a href="/player/{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</a></td>
                <td>{{ player.team }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.feet }} {{ player.inches }}</td>
                <td>{{ player.weight }} lbs</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}